<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Makanan Wenak Apps</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header_inner">
            <h1 class="header_title">Makanan Wenak Apps</h1>
        </div>
        <a id="menu" class="header_menu" tabindex="0">☰</a>
        <nav id="drawer" class="nav">
            <ul class="nav_list" id="drawer">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="#/like-restaurant">Favorite</a></li>
                <li class="nav_item"><a href="https://www.linkedin.com/in/geraldosoftwareengineer/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <picture>
        <div class="hero">
            <div class="hero_inner">
                <h1>Pilih Makananmu Sesuai Selera</h1>
                <p class="hero_tagline">Jaminan Makanan Enak, bila tidak enak uang kembali 100%</p>
            </div>
        </div>
    </picture>
    <main id="mainContent"></main>
    <footer>
        <p style="margin: 10px; color: white;">App Makanan Wenak&#169; 2021, Geraldo Sepdwijaya</p>
    </footer>
</body>
</html>